<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.upload.mapper.AtipRoutMachineLogDataMapper">

    <resultMap id="BaseResultMap" type="com.example.upload.entity.AtipRoutMachineLogData">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="date" column="DATE" jdbcType="VARCHAR"/>
            <result property="time" column="TIME" jdbcType="VARCHAR"/>
            <result property="msg" column="MSG" jdbcType="NVARCHAR"/>
            <result property="code" column="CODE" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATETIME" jdbcType="TIMESTAMP"/>
            <result property="num" column="NUM" jdbcType="VARCHAR"/>
            <result property="fileName" column="FILENAME" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,DATE,TIME,
        MSG,CODE,CREATETIME,
        NUM
    </sql>
    <insert id="insertLogMsg">
    insert into ATIP_ROUT_MACHINE_LOG_DATA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code !='' ">
            CODE,
            </if>
            DATE,
            TIME,
            <if test="num != null and num !='' ">
            NUM,
            </if>
            MSG,
            FILENAME
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="code != null and code !='' ">
                #{code},
            </if>
            <if test="date != null and date !='' ">
                #{date},
            </if>
            <if test="time != null and time !='' ">
                #{time},
            </if>
            <if test="num != null and num !='' ">
                #{num},
            </if>
            <if test="msg != null and msg !='' ">
                #{msg},
            </if>
            <if test="fileName != null and fileName !='' ">
                #{fileName}
            </if>
        </trim>

    </insert>

    <insert id="insertOrUpdate">
        if NOT EXISTS (SELECT MSG FROM ATIP_ROUT_MACHINE_LOG_DATA WHERE DATE = #{date} AND TIME =#{time} AND MSG = #{msg})
        INSERT INTO ATIP_ROUT_MACHINE_LOG_DATA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code !='' ">
                CODE,
            </if>
            DATE,
            TIME,
            <if test="num != null and num !='' ">
                NUM,
            </if>
            MSG
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code !='' ">
                #{code},
            </if>
            <if test="date != null and date !='' ">
                #{date},
            </if>
            <if test="time != null and time !='' ">
                #{time},
            </if>
            <if test="num != null and num !='' ">
                #{num},
            </if>
            <if test="msg != null and msg !='' ">
                #{msg}
            </if>
        </trim>
        ELSE
        UPDATE ATIP_ROUT_MACHINE_LOG_DATA SET MSG = #{msg}
        WHERE DATE = #{date} AND TIME =#{time} AND MSG = #{msg}
    </insert>


    <select id="selectMsg" resultType="java.lang.String">
        select * from ATIP_ROUT_MACHINE_LOG_DATA
        <where>
            DATE = #{date}
            and TIME = #{time}
            and MSG = #{msg}
        </where>
    </select>

    <insert id="insertEndMsg">
        insert into ATIP_ROUT_MACHINE_LOG_DATA_CHECK(date, time, msg,FILENAME)
        values (#{date},#{time},#{msg},#{fileName})
    </insert>

    <insert id="insertErrorMsg">
        insert into ATIP_ROUT_MACHINE_LOG_DATA_ERROR(date, time, msg,FILENAME)
        values (#{date},#{time},#{msg},#{fileName})
    </insert>

    <select id="selectCheckMsg" resultType="java.lang.String">
        select * from ATIP_ROUT_MACHINE_LOG_DATA_CHECK
        <where>
            DATE = #{date}
            and TIME = #{time}
            and MSG = #{msg}
            and FILENAME = #{fileName}
        </where>
    </select>
    <select id="selectEmailMsg" resultMap="BaseResultMap"  parameterType="java.lang.String"  >
        select * from ATIP_ROUT_MACHINE_LOG_DATA_ERROR
        <where>
             CREATETIME between DATEADD(hh, -50, GETDATE()) AND GETDATE()
        </where>
    </select>
    <select id="selectEmailAdress" resultType="java.lang.String">
        select EMAIL from ATIP_ROUT_MACHINE_LOG_DATA_EMAIL
    </select>
</mapper>
